@page   "/clientes"
@inject cmsDist2020.Data.AppData AppData
@using cmsDist2020.Models
@inject cmsDist2020.Service.ClientesService clientesService
@inject NavigationManager navigationManager

@if (@AppData.Id == 0)
{
    <img src="./Img/LoginIn.gif" />
}
else
{

    @if (clientes_model == null)
    {
        <img src="./Img/cargando.gif" />
    }
    else
    {
        <div class="form-row">
            <div class="form-group">
                <a class="btn btn-info" href="clientes/crear">Crear Cliente</a>
                <label><strong> :: LISTA DE CLIENTES ::</strong></label>
            </div>
        </div>
        <MatTable Items="@clientes_model" PageLabel="Páginas" class="mat-caption" ShowFooter="true" ShowPaging="true" PageSize=10>
            <MatTableHeader>
                <th class="mat-caption">Acción</th>
                <th class="mat-caption">Ruc / Dni</th>
                <th class="mat-caption">Cliente</th>
                <th class="mat-caption">Dirección</th>
                <th class="mat-caption">Distrito</th>
                <th class="mat-caption">Provincia</th>
                <th class="mat-caption">Departamento</th>
                <th class="mat-caption">Teléfonos</th>
                <th class="mat-caption">Email 1</th>
                <th class="mat-caption">Email 2</th>
                <th class="mat-caption">Email 3</th>
                <th class="mat-caption">Estado</th>
            </MatTableHeader>
            <MatTableRow>
                <td>
                    <MatIconButton Disabled="false" Raised="true" OnClick="@(() => Editar(@context.Id))">
                        <MatIcon>@MatIconNames.Edit</MatIcon>
                    </MatIconButton>
                </td>
                <td class="mat-caption">@context.RucDni</td>
                <td class="mat-caption">@context.Nombre @context.ApePat @context.Apemat</td>
                <td class="mat-caption">@context.Direccion</td>
                <th class="mat-caption">@context.Dist</th>
                <th class="mat-caption">@context.Prov</th>
                <th class="mat-caption">@context.Dep</th>
                <th class="mat-caption">@context.Telefonos</th>
                <th class="mat-caption">@context.Email01</th>
                <th class="mat-caption">@context.Email02</th>
                <th class="mat-caption">@context.Email03</th>
                <th class="mat-caption">@context.Estado</th>
            </MatTableRow>
        </MatTable>

        <MatDialog @bind-IsOpen="@dialogIsOpen">
            <MatDialogTitle>@name</MatDialogTitle>
            <MatDialogActions>
                <MatButton OnClick="@(e => { dialogIsOpen = false; })"> OK </MatButton>
            </MatDialogActions>
        </MatDialog>
    }
    <SurveyPrompt Title="Páginas Web: " />
}

@code {
    IEnumerable<ClientesModel> clientes_model;
    string _error_ = "";
    bool dialogIsOpen = false;
    string name = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clientes_model = await clientesService.Get_Clientes(AppData.Id);
        }
        catch (Exception ex)
        {
            name = ex.Message;
            dialogIsOpen = true;
            _error_ = ex.Message;
        }
        finally
        {
            Console.WriteLine("Ejecutando");
        }
    }

    private void Editar(int idCliente)
    {
        //clientes/edit/@context.Id
        navigationManager.NavigateTo("clientes/edit/" + idCliente.ToString());
    }

}
