@page   "/clientes"
@inject cmsDist2020.Data.AppData AppData
@using cmsDist2020.Models
@inject cmsDist2020.Service.ClientesService clientesService
@inject NavigationManager NavigationManager
<h3>Clientes</h3>
@if (clientes_model == null)
{
    <img src="./Img/cargando.gif" />
}
else
{
    <div class="form-group">
        <a class="btn btn-info" href="clientes/crear">Crear Cliente</a>
    </div>
    <MatTable Items="@clientes_model" Class="align-self-stretch" Striped="true" ShowFooter="false" ShowPaging="true" PageSize=10>
        <MatTableHeader>
            <th>Id</th>
            <th>Ruc / Dni</th>
            <th>Cliente</th>
            @*<th>Apellido Paterno</th>
            <th>Apellido Materno</th>*@
            <th>Dirección</th>
            @*<th>Id_Distrito</th>*@
            <th>Distrito</th>
            <th>Provincia</th>
            <th>Departamento</th>
            <th>Teléfonos</th>
            <th>Email 1</th>
            <th>Email 2</th>
            <th>Email 3</th>
            @*<th>IdEstado</th>*@
            <th>Estado</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <a class="btn btn-primary" href="/clientes/edit/@context.Id"><i class="icon-comment"></i> Editar</a>
            </td>
            @*<td>@context.Id</td>*@
            <td>@context.RucDni</td>
            <td>@context.Nombre @context.ApePat @context.Apemat</td>
            @*<td>@context.ApePat</td>
        <td>@context.Apemat</td>*@
            <td>@context.Direccion</td>
            @*<th>@context.Id_Distrito</th>*@
            <th>@context.Dist</th>
            <th>@context.Prov</th>
            <th>@context.Dep</th>
            <th>@context.Telefonos</th>
            <th>@context.Email01</th>
            <th>@context.Email02</th>
            <th>@context.Email03</th>
            @*<th>@clientes.IdEstado</th>*@
            <th>@context.Estado</th>
        </MatTableRow>
    </MatTable>
}
@code {
    IEnumerable<ClientesModel> clientes_model;
    string _error_ = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clientes_model = await clientesService.Get_Clientes(AppData.Id);
        }
        catch (Exception ex)
        {
            _error_ = ex.Message;
        }
        finally
        {
            Console.WriteLine("Ejecutando");
        }
    }
}
