@page "/colaboradores"
@inject cmsDist2020.Data.AppData AppData
@using cmsDist2020.Models
@inject cmsDist2020.Service.ClientesService clientesService
@inject NavigationManager NavigationManager

@if (@AppData.Id == 0)
{
    <img src="./Img/LoginIn.gif" />
}
else
{
    @if (colaborador == null)
    {
        <img src="./Img/cargando.gif" />
    }
    else
    {
        <div class="form-row">
            <div class="form-group">
                <a class="btn btn-info" href="colaboradores/crear">Crear Colaborador</a>
                <label><strong> :: LISTA DE COLABORADORES ::</strong></label>
            </div>
        </div>
        <MatTable Items="@colaborador" Class="align-self-xl-auto" Striped="true" ShowFooter="false" ShowPaging="true" PageSize=10>
            <MatTableHeader>
                <th>Acción</th>
                <th>Nombre(s)</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Teléfonos</th>
            </MatTableHeader>
            <MatTableRow>
                <td>
                    <a class="btn btn-primary" href="/colaboradores/edit/@context.Id"><i class="icon-comment"></i> Editar</a>
                </td>
                @*<th>@context.Id</th>*@
                <th>@context.Nombre</th>
                <th>@context.Direccion</th>
                <th>@context.Correo</th>
                <th>@context.Telefono</th>
            </MatTableRow>
        </MatTable>
    }
    <SurveyPrompt Title="Páginas Web: " />
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogTitle>@name</MatDialogTitle>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })"> OK </MatButton>
        </MatDialogActions>
    </MatDialog>

}

@code
{
    IEnumerable<ColaboradorModel> colaborador;
    string _error_ = "";
    bool dialogIsOpen = false;
    string name = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            colaborador = await clientesService.GetColaboradores(AppData.Id);
        }
        catch (Exception ex)
        {
            _error_ = ex.Message;
            name = ex.Message;
            dialogIsOpen = true;

        }
        finally
        {
            Console.WriteLine("Ejecutando");
        }
    }
}
