@page "/contratos/{ProductoId:int}"
@inject cmsDist2020.Data.AppData AppData
@using cmsDist2020.Models
@inject cmsDist2020.Service.ClientesService clientesService
@inject NavigationManager navigationManager

<h3>Lista de Contratos</h3>

@if (productosModels == null)
{
    <img src="./Img/cargando.gif" />
}
else
{
    <div class="form-group">
        <MatButton Raised="true" OnClick="@CreaNuevo" Disabled="false">NUEVO CONTRATO</MatButton>
    </div>
    <MatTable Items="@productosModels" ShowFooter="false" ShowPaging="false" PageSize=10>
        <MatTableHeader>
            <th>Acciones PIN</th>
            <th>Modificar</th>
            <th>Producto</th>
            <th>Cliente</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email 1</th>
            <th>Email 2</th>
            <th>Email 3</th>
            <th>Colaborador</th>
            <th>N° Contrato</th>
            <th>N° Cuotas</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                @if (@context.NroPin == "")
                    {
                    <MatIconButton Disabled="false" Raised="true" OnClick="@(() => Crear(@context.Id))">
                        <MatIcon>@MatIconNames.Fiber_pin</MatIcon>
                    </MatIconButton>
                    }
                    else
                    {
                    @if (@context.EstadoPin == "0")
                        {
                        <MatIconButton Disabled="false" Raised="true" OnClick="@(() => Crear(@context.Id))">
                            <MatIcon>@MatIconNames.Warning</MatIcon>
                        </MatIconButton>
                        }
                        else
                        {
                        <MatIconButton Disabled="false" Raised="true" OnClick="@(() => Crear(@context.Id))">
                            <MatIcon>@MatIconNames.Edit</MatIcon>
                        </MatIconButton>
                        }
                    }
            </td>
            <td>
                <a class="btn btn-primary" href="/vercontratos/@ProductoId/@context.Id">
                    <i class="icon-comment"></i> Editar
                </a>
            </td>
            <td>@context.Producto</td>
            <td>@context.Cliente</td>
            <td>@context.Direccion</td>
            <td>@context.Telefono</td>
            <td>@context.Correo01</td>
            <td>@context.Correo02</td>
            <td>@context.Correo03</td>
            <td>@context.Colaborador</td>
            <td>@context.NroContrato</td>
            <td>@context.NroCuotas</td>
        </MatTableRow>
    </MatTable>
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogTitle>@name</MatDialogTitle>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })"> OK </MatButton>
        </MatDialogActions>
    </MatDialog>

}
@code {
    [Parameter]
    public int ProductoId { get; set; }
    //
    //  Fuentes de los iconos de los botones
    //
    //    https://material.io/resources/icons/?style=baseline
    //
    public List<ProductosModel> productosModels = new List<ProductosModel>();
    string _error_ = "";
    bool dialogIsOpen = false;
    string name = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            productosModels = await clientesService.GetProductos(ProductoId, AppData.Id);
        }
        catch (Exception ex)
        {
            _error_ = ex.Message;
            name = ex.Message;
            dialogIsOpen = true;

        }
        finally
        {
            Console.WriteLine("Ejecutando");
        }
    }

    public void CreaNuevo(MouseEventArgs e)
    {
        navigationManager.NavigateTo("vercontratos/" + ProductoId.ToString() + "/0");
    }

    private void Crear(int idContrato)
    {
        AppData.ContratoId = Convert.ToDouble(idContrato);
        AppData.ProductoId = Convert.ToDouble(ProductoId);
        navigationManager.NavigateTo("generaPin");
    }
}
